.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Title{
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.Row {
  display: flex;
  flex-flow: row;
}

.Gauge {
  width: 33.3% !important;
}